
///error
$semantic-error-background: #f2dede;
$semantic-error-font-color: #bc5251;
$semantic-error-border: #eed3d7;
$semantic-error-text-shadow: none;

///info
$semantic-info-background: #d9edf7;
$semantic-info-font-color: #3a87ad;
$semantic-info-border: #bce8f1;
$semantic-info-text-shadow: none;

///warning
$semantic-warning-background: #fcf8e3;
$semantic-warning-font-color: #c09853;
$semantic-warning-border: #fbeed5;
$semantic-warning-text-shadow: none;

///success
$semantic-success-background: #dff0d8;
$semantic-success-font-color: #468847;
$semantic-success-border: #d6e9c6;
$semantic-success-text-shadow: none;