

//error
$semantic-error-background: #f2dede !default;
$semantic-error-font-color: #bc5251 !default;
$semantic-error-border: #eed3d7 !default;
$semantic-error-text-shadow: none !default;

//info
$semantic-info-background: #d9edf7 !default;
$semantic-info-font-color: #3a87ad !default;
$semantic-info-border: #bce8f1 !default;
$semantic-info-text-shadow: none !default;

//warning
$semantic-warning-background: #fcf8e3 !default;
$semantic-warning-font-color: #c09853 !default;
$semantic-warning-border: #fbeed5 !default;
$semantic-warning-text-shadow: none !default;

//success
$semantic-success-background: #dff0d8 !default;
$semantic-success-font-color: #468847 !default;
$semantic-success-border: #d6e9c6 !default;
$semantic-success-text-shadow: none !default;

/// Semantic map
/// @access public
$Semantic: (
        error:(
                background:$semantic-error-background,
                font-color:$semantic-error-font-color,
                color:$semantic-error-font-color,
                border:$semantic-error-border,
                text-shadow:$semantic-error-text-shadow
        ),
        info:(
                background:$semantic-info-background,
                font-color:$semantic-info-font-color,
                color:$semantic-info-font-color,
                border:$semantic-info-border,
                text-shadow:$semantic-info-text-shadow
        ),
        success:(
                background:$semantic-success-background,
                font-color:$semantic-success-font-color,
                color:$semantic-success-font-color,
                border:$semantic-success-border,
                text-shadow:$semantic-success-text-shadow
        ),
        warning:(
                background:$semantic-warning-background,
                font-color:$semantic-warning-font-color,
                color:$semantic-warning-font-color,
                border:$semantic-warning-border,
                text-shadow:$semantic-warning-text-shadow
        )
);